/* Based on the theme at http://bonsaiden.github.com/JavaScript-Garden */

/*<!--match-->*/
.cm-s-context span.CodeMirror-matchhighlight {
  background: #293742;
}
.cm-s-context.CodeMirror-focused span.CodeMirror-matchhighlight {
  background: #293742 !important;
}

/*<!--activeline-->*/
.cm-s-context .CodeMirror-activeline-background {
  background: #293742;
}

.cm-s-context.CodeMirror {
  background: #293742;
  color: #d1edff;
}

.cm-s-context div.CodeMirror-selected {
  background: #293742;
}
.cm-s-context .CodeMirror-line::selection,
.cm-s-context .CodeMirror-line > span::selection,
.cm-s-context .CodeMirror-line > span > span::selection {
  background: #293742;
}
.cm-s-context .CodeMirror-line::-moz-selection,
.cm-s-context .CodeMirror-line > span::-moz-selection,
.cm-s-context .CodeMirror-line > span > span::-moz-selection {
  background: #293742;
}
.cm-s-context .CodeMirror-gutters {
  background: #0f192a;
  border-right: 1px solid;
}
.cm-s-context .CodeMirror-guttermarker {
  color: white;
}
.cm-s-context .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}
.cm-s-context .CodeMirror-linenumber {
  color: #d0d0d0;
}
.cm-s-context .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
}

.cm-s-context span.cm-comment {
  color: #428bdd;
}
.cm-s-context span.cm-atom {
  color: #ae81ff;
}
.cm-s-context span.cm-number {
  color: #d1edff;
}

.cm-s-context span.cm-property,
.cm-s-context span.cm-attribute {
  color: #a6e22e;
}
.cm-s-context span.cm-keyword {
  color: #e83737;
}
.cm-s-context span.cm-string {
  color: #1dc116;
}

.cm-s-context span.cm-variable {
  color: #ffaa3e;
}
.cm-s-context span.cm-variable-2 {
  color: #ffaa3e;
}
.cm-s-context span.cm-def {
  color: #4dd;
}
.cm-s-context span.cm-bracket {
  color: #d1edff;
}
.cm-s-context span.cm-tag {
  color: #449;
}
.cm-s-context span.cm-link {
  color: #ae81ff;
}
.cm-s-context span.cm-error {
  background: #f92672;
  color: #f8f8f0;
}

.cm-s-context .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
