@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/table/lib/css/table.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bp3-light {
  background-color: #fff;
}

.bodyeditor {
  background-color: #0f192a;
}

.left-pane {
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 5px;
}

.request {
  padding: 5px;
  box-shadow: 0ch;
  border: 0px;
}

.search {
  margin-bottom: 10px;
  padding-right: 10px;
}

.bp3-drawer {
  left: 0;
}

.react-codemirror2 {
  margin-top: 0;
  height: 100%;
  position: relative;
}

.CodeMirror {
  margin: 0;
  padding: 0;
}

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

/* .react-codemirror2 {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
}

.CodeMirror {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100;
 } */

.cm-dispatch-variable {
  color: #d04845;
  background-color: yellow;
}

.cm-dispatch-tag {
  color: #d04845;
  background-color: yellow;
}

.dp-hint-label {
  font-style: normal;
  font-weight: normal;
}

.dp-hint-value {
  float: right;
  padding-right: 5px;
  color: green;
}
